In [3]:
country_rivers = {
    "Nile": "Egypt",
    "Indus": "Pakistan",
    "Ganges": "India"
}

for x in country_rivers.keys():
    print(x,"run through", country_rivers[x],"\n River: ",x,"\nLocation: ",country_rivers[x])

Nile run through Egypt
 River:  Nile
Location:  Egypt
Indus run through Pakistan
 River:  Indus
Location:  Pakistan
Ganges run through India
 River:  Ganges
Location:  India

In [8]:
person = {
    "first_name": "Salman", 
    "last name": "Khowaja", 
    "age": 32,
    "city": "Hyderabad"
}

print(person.items(),"\n")

friends = [
    {
    "first_name": "Ali Shah", 
    "last_name": "Dosani", 
    "age": 30,
    "city": "Karachi"
    },
    {
    "first_name": "Nabeel", 
    "last_name": "Nayani", 
    "age": 31,
    "city": "Hyderabad"
    },
    {
    "first_name": "Noushad", 
    "last_name": "Tejani", 
    "age": 35,
    "city": "Islamabad"
    },
    {
    "first_name": "Mansoor", 
    "last_name": "Hussaini", 
    "age": 34,
    "city": "Gilgit"
    },
    
]

for x in range (0, len(friends)):
    print('First Name: ',friends[x]['first_name'])
    print('Last Name: ',friends[x]['last_name'])
    print('Age: ',friends[x]['age'])
    print('City: ',friends[x]['city'],'\n')

dict_items([('first_name', 'Salman'), ('last name', 'Khowaja'), ('age', 32), ('city', 'Hyderabad')])

First Name:  Ali Shah
Last Name:  Dosani
Age:  30
City:  Karachi

First Name:  Nabeel
Last Name:  Nayani
Age:  31
City:  Hyderabad

First Name:  Noushad
Last Name:  Tejani
Age:  35
City:  Islamabad

First Name:  Mansoor
Last Name:  Hussaini
Age:  34
City:  Gilgit

In [10]:
cities = {
    'New York': {
        'country': 'America',
        'population' : 8000000,
        'fact': 'City is made up of five boroughs.'
    },
    'London' : {
        'country': 'England',
        'population' : 8700000,
        'fact': 'London is an amazing city'
    },
    'Karachi' : {
        'country': 'Pakistan',
        'population' : 160000,
        'fact': 'City of light'
    },
    
}

for x in cities.keys():
    print(x)
    print('Country: ',cities[x]['country'])
    print('Population = ',cities[x]['population'])
    print('Fact: ',cities[x]['fact'], '\n')

New York
Country:  America
Population =  8000000
Fact:  City is made up of five boroughs.

London
Country:  England
Population =  8700000
Fact:  London is an amazing city

Karachi
Country:  Pakistan
Population =  149100
Fact:  City of light

In [2]:
dic_1={1:10, 2:20}
dic_2={3:30, 4:40}
dic_3={5:50,6:60}


dict_4 = {
    
}


for x,y,z in zip(dic_1.keys(),dic_2.keys(),dic_3.keys()):
    dict_4[x] = dic_1[x]
    dict_4[y] = dic_2[y]
    dict_4[z] = dic_3[z]

print(dict_4)

{1: 10, 3: 30, 5: 50, 2: 20, 4: 40, 6: 60}

In [12]:
word = 'Dictionaries'
dict_word = {}

for x in word:
    if x in dict_word:
        dict_word[x] += 1
    else:
        dict_word[x] = 1
print(word)
print(dict_word)

Dictionaries
{'D': 1, 'i': 3, 'c': 1, 't': 1, 'o': 1, 'n': 1, 'a': 1, 'r': 1, 'e': 1, 's': 1}

In [4]:
dict_array = {
    'x': [11, 12, 13, 14, 15, 16, 17, 18, 19],
    'y': [21, 22, 23, 24, 25, 26, 27, 28, 29],
    'z': [31, 32, 33, 34, 35, 36, 37, 38, 39]
    }

print(dict_array)
print(dict_array['x'][4])
print(dict_array['y'][4])
print(dict_array['z'][4])

for a in dict_array.keys():
    print(a,'has value', dict_array[a])

{'x': [11, 12, 13, 14, 15, 16, 17, 18, 19], 'y': [21, 22, 23, 24, 25, 26, 27, 28, 29], 'z': [31, 32, 33, 34, 35, 36, 37, 38, 39]}
15
25
35
x has value [11, 12, 13, 14, 15, 16, 17, 18, 19]
y has value [21, 22, 23, 24, 25, 26, 27, 28, 29]
z has value [31, 32, 33, 34, 35, 36, 37, 38, 39]

In [10]:
prices = {
    "mango": 5,
    "watermelon": 6,
    "banana": 8, 
    "apple": 10, 
    
}

stock = {
    "mango": 3,
    "watermelon": 2,
    "banana": 4, 
    "apple": 5,
}

total = 0
loop_control = 0
sum_list = []

for y in prices:
    print(y,":",prices[y]*stock[y])
    sum_list.append(prices[y]*stock[y]) 

total = sum(sum_list)
print("Total: ",total)

mango : 15
watermelon : 12
banana : 32
apple : 50
Total:  109

In [8]:
str_name = "MISSISSIPPI"
freq = {} 
  
for i in str_name: 
    if i in freq: 
        freq[i] += 1
    else: 
        freq[i] = 1
   
print (freq)

{'M': 1, 'I': 4, 'S': 4, 'P': 2}

In [6]:
dict_old = {'a':1, 'b':-2, 'c':-3, 'd':7, 'e':0}
dict_new = {}
print(dict_old)

for x in dict_old.keys():
    if dict_old[x] >= 0:
        dict_new[x]= dict_old[x]

print(dict_new)

{'a': 1, 'b': -2, 'c': -3, 'd': 7, 'e': 0}
{'a': 1, 'd': 7, 'e': 0}

In [7]:
dict_array = {
    1: ['Samuel', 21, 'Data Structures'],
    2: ['Richie', 20, 'Machine Learning'],
    3: ['Lauren', 21, 'OOPS with java']
    }
print("Name     Age     Course")
for x in dict_array.keys():
    print(dict_array[x][0]," ", dict_array[x][1], " ", dict_array[x][2])

Name     Age     Course
Samuel   21   Data Structures
Richie   20   Machine Learning
Lauren   21   OOPS with java